In [1]:
import pickle
import pandas as pd
import numpy as np

In [2]:
from tensorflow.keras.models import load_model

In [3]:
model = load_model('model.h5')


with open('label_encoder_gender.pkl' , 'rb') as file:
    label_encoder_gender = pickle.load(file)

with open('onehot_encoder_geo.pkl' , 'rb') as file:
    onehot_encoder_geo = pickle.load(file)

with open('scaler.pkl' , 'rb') as file:
    scaler = pickle.load(file)

WARNING:tensorflow:From d:\textbook\VAIBHAV DOCUMENTS\DeepLearning\venv\Lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [4]:
input_data = {
    'CreditScore' : 600,
    'Geography' : 'France',
    'Gender' : 'Male',
    'Age' : 40,
    'Tenure' : 3,
    'Balance':60000,
    'NumOfProducts' : 2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000
}

In [31]:
df = pd.DataFrame(data = [input_data])

In [32]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [33]:
df['Gender'] = label_encoder_gender.transform(df['Gender'])

In [34]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [35]:
encoded_geography = onehot_encoder_geo.transform(df[['Geography']])

In [36]:
encoded_geography

array([[1., 0., 0.]])

In [37]:
encoded_geography = pd.DataFrame(encoded_geography,columns=onehot_encoder_geo.get_feature_names_out())

In [38]:
df = pd.concat([df.drop(['Geography'] , axis = 1) ,encoded_geography] , axis=1)

In [39]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [43]:
df = df.reset_index(drop=True)

In [44]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [47]:
df = scaler.transform(df)

In [48]:
model = load_model('model.h5')

In [50]:
prediction = model.predict(df)

1/1 [==============================] - 0s 62ms/step

In [51]:
if prediction > 0.5:
    print("The customer is likely to churn")
else:
    print("The customer is unlikely to churn")

The customer is unlikely to churn